

 input{
    border-radius: 10px !important;
    border: none !important;
    outline: none !important;
}

.forgot{
margin-bottom: 10px;
    color: white;
    text-align: end;
    cursor: pointer;
}
.btn{
    color: white;
    background-color: green;
    width:100%;
    border-radius: 25px;
}
.new_user{
color: white;
text-align: center;

}
.sign_color{
    color: blue;
}
.forgot:hover , .sign_color:hover{
    color: red;
    cursor: pointer;
}

.login_hed{
    padding-top: 10px;
    text-align: center;
}






